* {
    box-sizing: border-box;
}
h1 {
    padding: 0 0 20px 0;
}

body {
    /*   viewport units: vh (viewport height), vw (viewport width), vmin (smallest between width and height) */
    height: 100vh;
    margin: 0;
    font-family: 'Sofia Sans Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  header {
    font-size: 10vmin;
    color:darkgrey;
    letter-spacing: 1vmin;
  }

#board {
    display: grid;
    grid-template-columns: repeat(3,15vmin);
    grid-template-rows: repeat(3,15vmin);
    gap: 4vmin;
    margin-top: -4vmin;
}

#board > div {
    border-radius: 15%;
    border: 0.1vmin solid grey;
}

#board > div:hover {
    border: 1vmin solid lightcoral;
    transition: 50ms;
}

button {
    margin-top: 4vmin;
    padding: 2vmin;
    font-size: 2vmin;
    border-radius: 4vmin;
    border: 0.1vmin solid grey;
    color:grey;
}

button:hover {
    color:white;
    background-color: green;
    transition: 50ms;
}